@use '../../themes/variables' as var;

.product-box {
  position: relative;

  .empty-product {
    position: absolute;
    bottom: 0;
    top: 25%;
    right: 0;
    left: 0;
    width: 60%;
    height: 80%;
    display: flex;
    margin: 0 auto;


    p {
      font-weight: 500;
      font-size: 1.1em;
      margin: 0 auto;
      width: fit-content;
      height: fit-content;
      text-align: center;
      border-radius: 6px;
      padding: 10px 10px;
      border: 3px solid black;

    }
  }

  &__image {
    width: 21vw;
    margin-bottom: 10px;
    opacity: 0;
    transition: all 3s;
    filter: contrast(1);

    &.loaded {
      opacity: 1;
    }

    &.empty {
      opacity: .2;
    }

    @media screen and (max-width: 1750px) {
      width: 19vw;
    }

    @media screen and (max-width: 1550px) {
      width: 21vw;
    }

    @media screen and (max-width: 1350px) {
      width: 23vw;
    }

    @media screen and (max-width: 1150px) {
      width: 25vw;
    }

    @media screen and (max-width: 1050px) {
      width: 30vw;
    }

    @media screen and (max-width: 950px) {
      width: 33vw;
    }

    @media screen and (max-width: 850px) {
      width: 36vw;
    }

    @media screen and (max-width: 770px) {
      width: 70vw;
    }

    @media screen and (max-width: 500px) {
      width: 80vw;
    }
  }

  &__name {
    margin-bottom: 12px;
  }

  &__price-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &--price {
      font-size: 1.2em;
      letter-spacing: .2px;
      color: var.$bianchi-color;

      &.offer-price {
        font-size: 1.2em;
        margin-left: 20px;
      }

      &.erased {
        text-decoration: line-through;
        font-size: .8em;
      }
    }
  }
}