@use '../../abstracts/variables' as var;

.cart-buttons {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 0 auto;

  &__cart {
    display: flex;
    border-radius: 6px;
    padding: 20px;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(197, 197, 197, 0.247);
    font-size: 1.3em;
    width: 50%;
    justify-content: center;

    &--number {
      width: 40px;
      margin: 0 10px 0 10px;
      font-size: 1em;
      outline: none;
      border: none;
      text-align: center;
      cursor: default;
      caret-color: transparent;

      &.empty {
        opacity: .2;
      }
    }

    &--handle {
      color: black;
      background: white;
      transition: all .4s ease-out;
      font-size: 1.3em;
      width: auto;
      border-radius: 6px;
      margin: 0 20px;
      cursor: pointer;
      background-size: 200% 100%;
      background-position: right bottom;
      opacity: 1;

      &:hover {
        background-position: left bottom;
      }


      &.empty {
        cursor: inherit;
        pointer-events: none;
        opacity: .2;
      }

      @media screen and (max-width: 2130px) {
        width: 70%;
      }

      @media screen and (max-width: 1850px) {
        font-size: .8em;
      }

      @media screen and (max-width: 1390px) {
        width: 75%;
      }

      @media screen and (max-width: 1160px) {
        width: 78%;
      }

      @media screen and (max-width: 1050px) {
        width: 62%;
      }

      @media screen and (max-width: 770px) {
        width: 50%;
      }

      @media screen and (max-width: 470px) {
        width: 60%;

      }

      @media screen and (max-width: 350px) {
        width: 75%;
        padding: 10px 15px;
      }
    }

    &--remove {
      display: flex;
      align-items: center;
      cursor: pointer;

      &-trash {

        font-size: 1.2em;
        margin-right: 15px;

        &:hover {
          opacity: .9;
        }
      }

      @media screen and (max-width: 770px) {
        color: black;
      }

      @media screen and (max-width: 460px) {
        margin-top: 20px;
      }
    }
  }

  &__like {

    display: none;
  }

  @media screen and (max-width: 460px) {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}