@use '../../abstracts/variables' as var;

.details {
  width: 100vw;
  margin-top: 150px;

  &__sections {
    width: 100%;
    border-bottom: 1px solid rgba(219, 218, 218, 0.671);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    font-size: 1.3em;


    &--description {
      font-weight: 500;
      width: 20%;
      padding-bottom: 2.2em;
      text-align: center;
      cursor: pointer;
      transition: all .5s ease-in-out;
      border-bottom: 3px solid rgba(128, 128, 128, 0);


      &.active {
        border-bottom: 3px solid gray;
      }


      @media screen and (max-width: 1300px) {
        width: 20%;
        font-size: .8em;
      }

      @media screen and (max-width: 950px) {
        width: 30%;
      }

      @media screen and (max-width: 650px) {
        width: 40%;
      }

      @media screen and (max-width: 480px) {
        width: 50%;
        font-size: .7em;
      }

      @media screen and (max-width: 340px) {
        width: 30%;
        font-size: .6em;
      }
    }

    &--features {
      font-weight: 500;
      width: 20%;
      padding-bottom: 2.2em;
      text-align: center;
      cursor: pointer;
      transition: all .5s ease-in-out;
      border-bottom: 3px solid rgba(128, 128, 128, 0);

      &.active {
        border-bottom: 3px solid gray;

      }

      @media screen and (max-width: 1300px) {
        width: 20%;
        font-size: .8em;
      }

      @media screen and (max-width: 950px) {
        width: 30%;
      }

      @media screen and (max-width: 650px) {
        width: 40%;
      }

      @media screen and (max-width: 480px) {
        width: 50%;
        font-size: .7em;
      }

      @media screen and (max-width: 340px) {
        width: 70%;
        font-size: .6em;
      }
    }

    @media screen and (max-width: 1300px) {}

    @media screen and (max-width: 550px) {}
  }

  &__info {
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-height: 40%;
    position: relative;
    padding-bottom: 5em;

    &--text {
      display: none;
      left: 0;
      right: 0;
      width: 50%;
      margin: 0 auto;

      &-warning {
        font-size: 1.1em;
      }

      &-description {
        font-size: 1.1em;
        margin-top: 40px;
        line-height: 30px
      }

      &.active {
        display: block;
      }

      @media screen and (max-width: 1300px) {
        text-align: center;
        width: 75%;
      }
    }

    &--table {
      width: 100%;
      transition: all .4s ease;
      display: none;

      &-tab {
        margin: 0 auto;
        width: 45%;
        padding: 2em;

        tbody {
          font-size: 1.1em;

          .row {
            margin: 0 auto;
            text-align: left;
            height: 50px;


            .column-name {
              width: 20%;
            }

            .column-value {
              width: 80%;
              text-align: right;
              font-style: italic;
              width: 100%;
              overflow: hidden;

              span {
                position: relative;
                display: inline-block;

                p {
                  margin: 0;
                  padding: 0;
                  display: inline-block;
                }

                &::before {
                  content: "";
                  width: 1000px;
                  height: 1px;
                  background-color: rgba(0, 0, 0, .1);
                  position: absolute;
                  right: calc(120%);
                  top: calc(50% - 1px);


                  @media screen and (max-width: 1700px) {
                    right: calc(110%);
                  }

                  @media screen and (max-width: 1300px) {
                    right: calc(105%);
                  }
                }
              }

              @media screen and (max-width: 680px) {
                width: 50%;
              }
            }
          }
        }

        @media screen and (max-width: 1700px) {
          width: 75%;
        }

        @media screen and (max-width: 1300px) {
          font-size: .9em;
        }


        @media screen and (max-width: 900px) {
          width: 95%;
          font-size: .8em;
        }
      }

      &.active {
        display: flex;
      }

      @media screen and (max-width: 1300px) {}
    }
  }

  @media screen and (max-width: 1300px) {
    margin-top: 80px;
  }

  @media screen and (max-width: 550px) {}
}