@use '../../abstracts/variables' as var;

.images {
  min-width: 50%;

  &__main {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    transition: all .5s ease-in-out;

    &--img {
      opacity: 0;
      transition: .5s;
      width: 100%;

      &.loaded {
        opacity: 1;
      }
    }
  }

  &__secondary {

    &--images {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;

      img {
        max-width: 200px;
        margin-right: 5px;
        cursor: pointer;
        opacity: .3;
        transition: all .4s ease;

        &.active {
          opacity: 1;
        }
      }
    }
  }
}