@use '../../abstracts/variables' as var;
@use './cartHandler';

.info {
  width: 60%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;


  &__main {
    text-align: center;

    &--name {
      font-weight: bolder;
      font-size: 3.4em;
      margin-bottom: 50px;
    }

    &--short {
      font-size: 1.4em;
      font-style: italic;
      margin-bottom: 120px;
    }

    &--price {
      font-size: 3em;
      color: var.$bianchi-color;
      margin-bottom: 40px;
    }
  }

  &__size {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(192, 186, 186, 0.658);
    margin-bottom: 20px;
    padding-bottom: 2em;

    &--title {
      font-weight: 500;
      font-size: 1.2em;
      margin-right: 20px;
    }

    &--option {
      cursor: pointer;
      min-width: 250px;
      border-radius: 5px;
      padding: 15px 10px;
      font-size: 1.1em;
      align-self: center;
      outline: none;
      background-color: #F5FEFE;
      border: 1px solid #46a5a5;
      color: #46a5a5;


      option {}
    }
  }

  &__color {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 2em;

    &--title {
      font-weight: 500;
      font-size: 1.2em;
      margin-right: 20px;
    }

    &--colors {
      border-radius: 50%;
      margin: 0 10px;
      border: 1px solid transparent;
      cursor: pointer;


      &:hover {
        opacity: .6;
      }

      &.active {
        transform: scale(1.2);
        border: 3px solid rgb(0, 0, 0);
        padding: 2px;
      }
    }
  }

  &__empty {
    font-size: 1.2em;
    color: red;
    margin-bottom: 20px;
    opacity: 0;
    transition: all .4s ease;

    &.empty {
      opacity: 1;
    }
  }

  &__buy {
    display: flex;
    width: 80%;
    padding-bottom: 2em;

    &--add {
      width: 45%;
      background-color: var.$bianchi-color;
      border-radius: 5px;
      padding: 20px 0;
      cursor: pointer;
      font-size: 1.3em;
      transition: .4s all ease;

      &.empty {
        opacity: 0.4;
        cursor: no-drop;
      }
    }

    svg.fa-heart {
      margin-left: 5px;
      width: 10%;
      font-size: 1.6em;
      opacity: .3;
      align-self: center;
      cursor: pointer;
    }
  }

  &__share {
    padding-top: 2em;

    &--title {
      font-weight: 400;
      font-size: 1.4em;
      margin-right: 20px;
    }

    &--icons {

      svg {}
    }
  }
}