@use '../../abstracts/variables' as var;

.footer {
  margin-top: 40px;
  background-color: var.$bg-color-footer;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__contact {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    color: var.$font-color-footer;
    font-weight: 300;
    font-size: 1.2em;

    &--title {
      font-weight: 500;
      letter-spacing: 2px;
      margin-bottom: 28px;
    }

    &--data-phone {
      font-size: 1.6em;
      letter-spacing: 1px;
      margin-bottom: 12px;
      display: flex;

      svg {
        margin-right: 15px;
        margin-top: 2px;
        color: rgb(83, 187, 228);
      }

      @media screen and (max-width: 620px) {
        justify-content: center;
      }
    }

    &--data-email {
      font-size: 1.5em;
      letter-spacing: 1px;
      margin-bottom: 50px;
      display: flex;

      svg {
        margin-right: 15px;
        margin-top: 4px;
        color: rgb(83, 187, 228);
      }

      @media screen and (max-width: 620px) {
        justify-content: center;
      }
    }

    &--payment-title {
      font-weight: 500;
      letter-spacing: 2px;
    }

    &--opinions-title {
      font-weight: 500;
      letter-spacing: 2px;
      margin-bottom: 28px;
    }

    @media screen and (max-width: 1300px) {
      font-size: .9em;
    }

    @media screen and (max-width: 950px) {
      font-size: .8em;
    }

    @media screen and (max-width: 620px) {
      text-align: center;
    }

    @media screen and (max-width: 450px) {
      font-size: .6em;
    }
  }

  &__utils {
    font-size: 1.1em;
    margin: 0 auto;
    color: rgba(128, 128, 128, 0.616);

    .section {
      margin-bottom: 40px;
    }

    &--title {
      color: black;
      font-weight: 600;
      font-size: 1.2em;
      margin: 0 0 20px 0;
    }

    &--link {
      margin-bottom: 15px;
      cursor: pointer;
    }

    @media screen and (max-width: 1300px) {
      font-size: .9em;
    }

    @media screen and (max-width: 950px) {
      font-size: .8em;
    }

    @media screen and (max-width: 620px) {
      text-align: center;
    }


    @media screen and (max-width: 450px) {
      font-size: .7em;
    }
  }

  &__shipments {
    font-size: 1.1em;
    margin: 0 auto;
    color: rgba(128, 128, 128, 0.616);

    &--title {
      color: black;
      font-weight: 600;
      font-size: 1.2em;
    }

    &--link {
      margin-bottom: 15px;
      cursor: pointer;
    }

    @media screen and (max-width: 1300px) {
      font-size: .9em;
    }

    @media screen and (max-width: 950px) {
      font-size: .8em;
    }

    @media screen and (max-width: 920px) {
      grid-column: 2/3;
      margin: 0 auto;
      padding-left: 15px;
    }

    @media screen and (max-width: 620px) {
      grid-column: 1/2;
      text-align: center;
    }


    @media screen and (max-width: 450px) {
      font-size: .7em;
    }
  }

  &__privacy {
    padding: 40px 40px;
    background-color: var.$bg-color-footer;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(196, 193, 193, 0.671);

    &--title {
      width: 100%;
      text-align: left;
      font-size: .95em;
      letter-spacing: 2px;

      @media screen and (max-width: 1100px) {
        text-align: center;
      }
 
      @media screen and (max-width: 300px) {
        line-height: 20px;
      }
    }

    &--terms {
      color: var.$font-color-footer;
      width: 100%;
      display: flex;
      font-size: .95em;
      justify-content: end;

      p {
        margin: 0 20px;
        font-size: 1.2em;
        cursor: pointer;
      }

      @media screen and (max-width: 1100px) {
        justify-content: center;
        margin-bottom: 20px;
      }

      @media screen and (max-width: 540px) {
        flex-direction: column;
        text-align: center;

        p {
          margin-bottom: 20px;
        }
      }
    }

    @media screen and (max-width: 1300px) {
      font-size: .9em;
    }

    @media screen and (max-width: 1100px) {
      font-size: .8em;
    }

    @media screen and (max-width: 1100px) {
      flex-direction: column-reverse;
    }

    
    @media screen and (max-width: 450px) {
      font-size: .6em;
    }
  }

  &__cards {
    margin-bottom: 50px;
  }

  &__companys {
    margin-bottom: 50px;
  }

  @media screen and (max-width: 920px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 620px) {
    grid-template-columns: repeat(1, 1fr);
  }
}