@use '../../themes/variables' as var;

.advantages {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;

  &__advantage {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    color: var.$bianchi-color;
    margin-bottom: 40px;

    &--image {
      font-size: 4.4em;
      margin-bottom: 30px;
    }

    &--name {
      font-size: 1.5em;

      @media screen and (max-width: 320px) {
        font-size: 1em;
      }
    }

    &--description {
      margin-top: 20px;
      color: black;

      @media screen and (max-width: 320px) {
        font-size: .9em;
      }
    }
  }

  @media screen and (max-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 690px) {
    grid-template-columns: repeat(1, 1fr);
  }
}