@use '../../themes/variables' as var;

.carousel {
  width: 100%;
  overflow: hidden;
  background-color: black;

  &__nav {
    z-index: 1;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    top: 40%;

    svg {
      opacity: .6;
      cursor: pointer;
      margin: 3em;
      font-size: 3em;
      transition: all .3s ease-in-out;

      &:hover {
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }

  &__images {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease-in-out;

    &--image {
      width: 100%;
      opacity: 0;
      transition: 1s;
      object-fit: cover;

      @media screen and (max-width: 1190px) {
        object-fit: contain;
      }

      @media screen and (max-width: 500px) {
        min-height: 300px;
      }

      &.loaded {
        opacity: 1;
      }
    }

    @media screen and (max-width: 1190px) {}
  }

  &::before,
  &::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  @media screen and (max-width: 1700px) and (min-width: 250px) {
    background-size: contain;
    margin-bottom: 0;
  }

  @media screen and (max-width:500px) {
    min-height: 300px;
  }
}