@use '../../abstracts/variables' as var;

.cart-buttons {
  width: 100%;
  margin: 20px auto;
  margin-right: 10px;
  display: flex;
  justify-content: center;

  &__cart {
    display: flex;
    padding-left: 50px;
    margin-right: 20px;

    &--number {
      margin: 12px 10px 0 10px;

      &.empty {
        opacity: .2;
      }
    }


    &--handle {
      color: white;
      background: linear-gradient(to right, #00a59f 50%, var.$bianchi-color 50%);
      transition: all .4s ease-out;
      font-size: 1.2em;
      width: 50%;
      border-radius: 6px;
      margin: 0 auto;
      cursor: pointer;
      margin: 5px 10px;
      padding: 7px 10px;
      background-size: 200% 100%;
      background-position: right bottom;
      opacity: 1;

      &:hover {
        background-position: left bottom;
      }


      &.empty {
        cursor: inherit;
        pointer-events: none;
        opacity: .2;
      }

      @media screen and (max-width: 2130px) {
        width: 70%;
      }

      @media screen and (max-width: 1850px) {
        font-size: .8em;
      }

      @media screen and (max-width: 1390px) {
        width: 75%;
      }

      @media screen and (max-width: 1160px) {
        width: 78%;
      }

      @media screen and (max-width: 1050px) {
        width: 62%;
      }

      @media screen and (max-width: 770px) {
        width: 50%;
      }

      @media screen and (max-width: 470px) {
        width: 60%;

      }

      @media screen and (max-width: 350px) {
        width: 75%;
        padding: 10px 15px;
      }
    }
  }


  &__like {
    width: 7%;
    opacity: .4;
    transition: all .4s ease-in-out;
    cursor: pointer;
    float: right;
    font-size: 2.5em;

    &:hover {
      opacity: .9;
    }
  }
}