@use '../../abstracts/variables' as var;

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 60px;

  &__product {
    margin: 40px 10px;
    text-align: center;
    font-weight: 800;
    font-size: 1.2em;

    &--image {
      width: 17vw;
      margin-bottom: 10px;

      &.empty {
        opacity: .2;
      }

      @media screen and (max-width: 1750px) {
        width: 19vw;
      }

      @media screen and (max-width: 1550px) {
        width: 21vw;
      }

      @media screen and (max-width: 1350px) {
        width: 23vw;
      }

      @media screen and (max-width: 1150px) {
        width: 25vw;
      }

      @media screen and (max-width: 1050px) {
        width: 30vw;
      }

      @media screen and (max-width: 950px) {
        width: 33vw;
      }

      @media screen and (max-width: 850px) {
        width: 36vw;
      }

      @media screen and (max-width: 770px) {
        width: 70vw;
      }

      @media screen and (max-width: 500px) {
        width: 80vw;
      }
    }

    &--name {
      margin-bottom: 12px;
    }

    &--price-container {
      display: flex;
      justify-content: center;
      align-items: center;

      &-price {
        letter-spacing: .2px;
        color: var.$bianchi-color;

        &.offer-price {
          font-size: 1.2em;
          margin-left: 20px;
        }

        &.erased {
          text-decoration: line-through;
          font-size: .8em;
        }
      }
    }

    &--options {

      &-btn {
        width: 100%;
        margin: 20px auto;
        margin-right: 10px;
        display: flex;
        justify-content: center;

        div {
          display: flex;
          padding-left: 50px;
          margin-right: 20px;

          p {
            margin: 12px 10px 0 10px;

            &.empty {
              opacity: .2;
            }
          }


          svg {
            color: white;
            background: linear-gradient(to right, #00a59f 50%, var.$bianchi-color 50%);
            transition: all .4s ease-out;

            &.cart {
              font-size: 1.2em;
              width: 50%;
              border-radius: 6px;
              margin: 0 auto;
              cursor: pointer;
              margin: 5px 10px;
              padding: 7px 10px;
              background-size: 200% 100%;
              background-position: right bottom;
              opacity: 1;


              &:hover {
                background-position: left bottom;
              }
            }

            &.empty {
              cursor: inherit;
              pointer-events: none;
              opacity: .2;
            }

            @media screen and (max-width: 2130px) {
              width: 70%;
            }

            @media screen and (max-width: 1850px) {
              font-size: .8em;
            }

            @media screen and (max-width: 1390px) {
              width: 75%;
            }

            @media screen and (max-width: 1160px) {
              width: 78%;
            }

            @media screen and (max-width: 1050px) {
              width: 62%;
            }

            @media screen and (max-width: 770px) {
              width: 50%;
            }

            @media screen and (max-width: 470px) {
              width: 60%;

            }

            @media screen and (max-width: 350px) {
              width: 75%;
              padding: 10px 15px;
            }
          }
        }
      }

      svg {
        width: 7%;
        opacity: .4;
        transition: all .4s ease-in-out;
        cursor: pointer;
        float: right;
        font-size: 2.5em;

        &:hover {
          opacity: .9;
        }
      }
    }

    @media screen and (max-width: 1050px) {
      margin: 15px 5px;
    }

    @media screen and (max-width: 420px) {
      font-size: 1em;
    }
  }

  @media screen and (max-width: 1050px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 770px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .empty-product {

    p {
      font-weight: bolder;
      font-size: 1.1em;
      margin: 0 auto;
      position: relative;
      bottom: 18em;
      width: 30%;
      text-align: center;
      border-radius: 10px;
      padding: 10px 10px;
      border: 5px solid black;

      @media screen and (min-width: 2700px) {
        bottom: 18em;
      }

      @media screen and (max-width: 2700px) {
        bottom: 17em;
      }

      @media screen and (max-width: 2500px) {
        bottom: 16.5em;
      }

      @media screen and (max-width: 2300px) {
        bottom: 16em;
      }

      @media screen and (max-width: 2100px) {
        bottom: 15.5em;
      }

      @media screen and (max-width: 1950px) {
        bottom: 15em;
      }

      @media screen and (max-width: 1750px) {
        bottom: 14.5em;
      }

      @media screen and (max-width: 1600px) {
        bottom: 14em;
      }

      @media screen and (max-width: 1450px) {
        bottom: 13em;
      }

      @media screen and (max-width: 1300px) {
        bottom: 14em;
      }

      @media screen and (max-width: 770px) {
        bottom: 18em;

      }

      @media screen and (max-width: 720px) {
        bottom: 18em;
      }

      @media screen and (max-width: 680px) {
        bottom: 17em;

      }

      @media screen and (max-width: 620px) {
        bottom: 16em;

      }

      @media screen and (max-width: 580px) {
        bottom: 16em;

      }

      @media screen and (max-width: 520px) {
        bottom: 15em;

      }

      @media screen and (max-width: 500px) {
        bottom: 15em;

      }

      @media screen and (max-width: 480px) {
        bottom: 15em;

      }

      @media screen and (max-width: 420px) {
        bottom: 16em;

      }

      @media screen and (max-width: 350px) {
        bottom: 15em;

      }

      @media screen and (max-width: 320px) {
        bottom: 15em;

      }

      @media screen and (max-width: 280px) {
        bottom: 14em;

      }
    }
  }

  .offer {
    border-radius: 5px;
    height: 20px;
    width: fit-content;
    text-transform: uppercase;
    padding: .3rem .4rem;
    margin-bottom: -30px;
    position: relative;
    top: 0%;
    left: 16%;
    z-index: 100;
    color: white;
    font-size: .9em;
    background-color: var.$bianchi-color;

    @media screen and (min-width: 2300px) {
      left: 13%;
    }

    @media screen and (max-width: 2300px) {
      left: 10%;
    }

    @media screen and (max-width: 1900px) {
      left: 7%;
    }

    @media screen and (max-width: 1700px) {
      left: 0%;
    }

    @media screen and (max-width: 1450px) {
      left: -5%;
      font-size: .8em;
    }

    @media screen and (max-width: 1150px) {
      left: -10%;
    }

    @media screen and (max-width: 1050px) {
      left: 0%;
    }

    @media screen and (max-width: 770px) {
      margin-left: 5em;
    }

    @media screen and (max-width: 720px) {
      margin-left: 4.5em;
    }

    @media screen and (max-width: 680px) {
      margin-left: 4em;
    }

    @media screen and (max-width: 620px) {
      margin-left: 3.5em;
    }

    @media screen and (max-width: 580px) {
      margin-left: 3em;
    }

    @media screen and (max-width: 520px) {
      margin-left: 1.5em;
    }

    @media screen and (max-width: 480px) {
      margin-left: 1em;
    }

    @media screen and (max-width: 420px) {
      margin-left: .2em;
    }
  }
}