@use '../../abstracts/variables' as var;

.category {
  padding: var.$section-padding;
  width: var.$section-category;
  margin: 0 auto;

  &__title {
    text-transform: capitalize;
    font-size: 3em;
    text-align: left;
  }

  &__products {
    
  }
}