@use '../../themes/variables' as var;

.orders {
  width: 60%;
  margin: 100px auto;
  font-size: 1.2em;
  box-shadow: 0 0 20px 1px black;

  &__empty {
    margin: 100px 0;
    width: 100%;
    font-size: 6em;
    opacity: .4;
    color: var.$bianchi-color;
  }

  &__titles {
    background-color: rgb(7, 105, 105);
    padding: .2em;
    display: grid;
    grid-template-columns: 10% 35% 35% 20%;
    font-weight: 500;
    color: white;
    font-size: 1.3em;

    &--key {
      width: 100%;
      padding: .4em 0;
      text-align: center;
    }
  }

  &__order {
    display: grid;
    grid-template-columns: 10% 35% 35% 20%;
    align-items: center;
    padding: 1.5em 0;
    background-color: rgb(241, 241, 241);

    &:nth-child(even) {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }


    &--val {
      text-align: center;
      padding: .3em 0;
      font-weight: 600;
      font-size: 1.1em;
    }

    &--product {

      p {}
    }
  }

  @media screen and (max-width: 1450px) {
    width: 80%;
  }

  @media screen and (max-width: 900px) {
    width: 90%;
    font-size: .9em;
  }
  @media screen and (max-width: 520px) {
    width: 96%;
    font-size: .8em;
  }

  @media screen and (max-width: 350px) {
    width: 98%;
    font-size: .7em;
  }
}