@use '../../abstracts/variables' as var;
@use './handler';

.footer-product {
  width: 100%;
  margin: 0 auto;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  border-top: 1px solid rgba(197, 197, 197, 0.247);
  padding: 10px 0;
  justify-content: space-around;

  &__all-handlers {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    width: 70%;
  }

  &__remove {
    display: flex;
    align-items: center;
    cursor: pointer;

    &--trash {

      font-size: 1.2em;
      margin-right: 15px;

      &:hover {
        opacity: .9;
      }
    }

    @media screen and (max-width: 770px) {
      color: black;
    }

    @media screen and (max-width: 460px) {
      margin-top: 20px;
    }
  }
}