@use '../../abstracts/variables' as var;


.body-payment {
  background-color: #000000;
  background-image: url(../../../../images/cart-bg.jpg);
  background-repeat: no-repeat no-repeat;
  background-size: cover;

  @media screen and (max-width: 3050px) {
    background-position: 100%;
  }

  @media screen and (max-width: 2750px) {
    background-position: 80%;
  }

  @media screen and (max-width: 2250px) {
    background-position: 60%;
  }

  @media screen and (max-width: 770px) {
    background-color: white;
    background-image: none;
  }
}

.payment {
  width: fit-content;
  margin: 80px 300px;
  background-color: #F7F7F7 !important;
  padding: 2em 3em;
  font-size: 1em;
  border-radius: 5px;


  &__title {
    text-align: center;
    font-weight: lighter;
    font-size: 2em;
    margin-bottom: 60px;

    @media screen and (max-width: 770px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 560px) {
      font-size: 1.8em;
    }
  }

  &__cupon {
    display: flex;
    font-size: 1.2em;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 80%;


    &--text {
      margin-right: .8em;

      @media screen and (max-width: 770px) {
        margin-bottom: 10px;
      }
    }

    &--ref {
      color: gray;
      flex-grow: 1;

      @media screen and (max-width: 770px) {

        &:hover {
          color: var.$bianchi-color;
          text-decoration: underline;


        }
      }
    }

    @media screen and (max-width: 770px) {
      margin-bottom: 25px;
      flex-direction: column;
      text-align: center;
    }

    @media screen and (max-width: 560px) {
      font-size: 1em;
    }
  }

  &__details {

    &--table {
      width: 100%;
      text-align: center;


      .head {
        font-size: 1.2em;

        &__row {
          width: 100%;
          padding-bottom: 35px;
          margin-bottom: 20px !important;
          border-bottom: 1px solid rgb(230, 227, 227) !important;
          display: flex;
          justify-content: space-between;

          &--left {
            text-align: left;
          }

          &--right {
            text-align: right;
          }

          @media screen and (max-width: 770px) {
            padding-bottom: 15px;
          }
        }
      }

      .body {
        display: flex;
        flex-direction: column;

        &__row {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 20px;

          &--product {
            width: 40%;
            text-align: left;
            font-size: 1.3em;
            font-weight: 400;
            letter-spacing: 1px;


            .name {
              text-align: left
            }

            .total {
              font-size: .8em;
              text-align: left;
              padding: 10px 10px;
            }

            .size {
              display: flex;
              margin-bottom: 15px;
              font-size: .9em;

              &__title {
                font-weight: 600;

              }

              &__result {
                margin-left: 80px;
                color: rgba(128, 128, 128, 0.664);
                font-weight: 500;

                @media screen and (max-width: 300px) {
                  margin-left: 40px;
                }
              }

            }

            .color {
              font-size: .9em;
              display: flex;
              margin-bottom: 15px;

              &__title {
                font-weight: 600;

              }

              &__result {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-left: 80px;

                @media screen and (max-width: 300px) {
                  margin-left: 40px;
                }
              }
            }

            @media screen and (max-width: 560px) {
              width: 60%;
            }
          }


          &--price {
            flex-grow: 1;
            text-align: right;
            font-size: 1.3em;
            line-height: 50px;

            .ind {
              font-size: .7em;
            }

            .total {}
          }

          &--sub,
          &--subtotal {
            margin-top: 50px;
            font-size: 1.2em;

            @media screen and (max-width: 770px) {
              margin-top: 30px;
            }
          }
        }
      }

      .foot {

        &__row {
          width: 100%;
          padding-top: 65px;
          margin-top: 20px !important;
          border-top: 1px solid rgb(230, 227, 227) !important;
          display: flex;
          justify-content: space-between;

          &--left {
            font-size: 1.2em;
            line-height: 130px;
          }

          &--right {
            font-size: 1.2em;

            .total {
              font-size: 1.6em;
              font-weight: bolder;
            }

            .iva {
              margin-top: 5px;
              font-size: 1.5em;
              font-weight: bolder;

              span {
                font-size: .5em;
                margin-right: 10px;
                font-weight: lighter;
              }
            }

            .iva-title {
              text-align: right;
            }
          }

          @media screen and (max-width: 770px) {
            padding-top: 35px;
          }
        }
      }

      @media screen and (max-width: 770px) {
        width: 90%;
        margin: 0 auto;
      }

      @media screen and (max-width: 420px) {
        width: 100%;
      }
    }

    @media screen and (max-width: 560px) {
      font-size: .9em;
    }

    @media screen and (max-width: 450px) {
      font-size: .8em;
    }
  }

  &__form-container {
    border: 1px solid var.$bianchi-color;
    border-radius: 4px;
    position: relative;
    margin: 50px 0;

    &--icon {
      color: white;
      border-radius: 50%;
      position: absolute;
      background-color: var.$bianchi-color !important;
      right: -7px;
      top: -7px;

      svg {
        width: auto;
        padding: .3em;
      }

    }

    .container {
      display: flex;
      flex-direction: column;
      padding: .9em 2.6em;

      &--title {
        margin-top: 10px;
        font-weight: 600;
        font-size: 1.1em;
      }

      &--form {
        display: flex;
        flex-flow: column wrap;
        margin-top: 30px;

        .label-card {
          font-size: 1em;
          font-weight: 400;
          margin-top: 20px;
        }

        .input-card {
          background-color: white;
          width: 90%;
          margin: 10px 0;
          padding: .8em 1em;
          border-radius: 5px;
          font-weight: 500;
          color: rgba(128, 128, 128, 0.616);
          text-align: left;

          @media screen and (max-width: 770px) {
            background-color: rgba(221, 214, 214, 0.397);
          }
        }
      }
    }

    @media screen and (max-width: 770px) {
      margin: 30px auto;
      width: 90%;
    }

    @media screen and (max-width: 420px) {
      width: 100%;
    }
  }

  &__pay {
    padding: 1.1em 1em;
    text-align: center;
    background-color: var.$bianchi-color;
    width: 90% !important;
    cursor: pointer;
    background: linear-gradient(to right, #00afa9 50%, var.$bianchi-color 50%);
    transition: all .2s ease-out;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .2s ease-out;

    &:hover {
      background-position: left bottom;
    }
  }

  @media screen and (max-width: 1800px) {
    margin: 80px 100px;
  }

  @media screen and (max-width: 1400px) {
    margin: 80px auto;
  }

  @media screen and (max-width: 770px) {
    width: auto;
    margin-top: 0;
    background-color: white !important;
  }

  @media screen and (max-width: 420px) {
    padding: 2em 1em;
  }
}