@use '../../abstracts/variables' as var;

.container-link {
  margin: 0 20px;
  border-radius: 5px;
  padding: 0;
  display: flex;
  width: 10%;
  height: 100%;
  min-width: 100px;

  .item-link {
    border: none;
    height: 100%;
    color: var.$font-color-header;
    font-weight: var.$weight-header;
    display: flex;
    letter-spacing: 1.3px;
    font-size: var.$font-size-header;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    border-bottom: 1px solid silver !important;
    border-image: linear-gradient(to right,
        transparent 20%,
        #1a1b1b,
        transparent 80%) 30 !important;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;

    &:hover {
      border: none;
      border-image: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    font-size: 0.8em;
  }
}